
<div id="main">
    <div class="container text-center p-1">
        <div class="row">
            <button type="button" class="navbut  col btn border border-dark-subtle {% if status == '1' %} btn-secondary {% else %} btn-outline-secondary {% endif %}"
            name="status" value="1">연재</button>

            <button type="button" class="navbut  col btn border border-dark-subtle {% if status == '2' %} btn-secondary {% else %} btn-outline-secondary {% endif %}"
            name="status" value="2">성인</button>
            
            <button type="button" class="navbut  col btn border border-dark-subtle {% if status == '3' %} btn-secondary {% else %} btn-outline-secondary {% endif %}"
            name="status" value="3">완결</button>
    
        </div>
    </div>
</div>
